.top-buffer {
  margin-top: 40px;
}

.reveal {
  display: none;
}

.reveal img {
  width: 100px;
  height: 100px;

  border-radius: 50%;
   border: palegreen;
  border-width: 2px;
}

.reveal p {
  text-align: center;
  color: darkgray;
  font-size: large;
  width: 50px;
  height: auto;
  padding: auto;
}